<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../../resources/css/styles.css">
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="https://chancejs.com/chance.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="../../resources/js/fun.js"></script>
    <style media="screen">
      h3 {
        text-align: left;
        justify-content: flex-start;

      }
      p{
        width: 90%;
        font: sans;
        justify-content: space-around;
        text-align: justify;
      }
      ul{
        width: 90%;
      }
    </style>
    </head>
    <body>
      <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-red">Home</a>
          <a href="/resume" class="w3-bar-item w3-button w3-padding-large w3-hover-red">Resume</a>
          <a href="/cover" class="w3-bar-item w3-button w3-padding-large w3-hover-red">Cover Letter</a>
          <a href="/resume" class="w3-bar-item w3-button w3-padding-large w3-hover-red">About</a>
        </div>
      </div>
      <div class="content">
        <h3 >May 17, 2019</h3>
        <br>
        <h3>Team Lead Position</h3>
        <h3>Dear Buff Techs Hiring Team,</h3>
        <br>
        <p>
          This letter is to state my interest in the Team Lead Position. I want to advance my skills - both soft and technical ones. I see the team lead position as a way for me to learn to be a better leader, and my first step to be a better leader would as they say “learn by doing”. Furthermore, I see myself as a good fit for a Team Lead because, despite only been here for a semester and a half, I do plan to around for many semesters to come. With the time I have, I would like to leave my own impression on Buff Techs whether it be through projects or policies that I’m involved in. In addition, I see myself as an organized and creative person, and I would like to put that to use at Buff Techs to further improve our ability to work with clients. My overall goal with the position, should I be offered the position is to further improve the front facing image of OIT.
        </p>
        <p>
          Some additional notes I have on things I would like to help and improve in Buff Techs:
        </p>
        <ul>
          <li>A small side project to add some extra widgets to the TV screen that displays the timings for our respective locations</li>
          <li>A standardized way for us to write case notes.</li>
          <li>An inventory system, website, or program so that if, for example, a Tech needs an awesome box on a dispatch, they can “checkout” the item and then “return” the item when he/she is done with it. This would allow us to keep track of potentially important and expensive gear. We could also add flags to items to specify if its broken or only for use with <insert OS name her>.</li>
          <li>A Tech “check and check out” in system so every time we enter or exit a location we swipe our Buff One card, and we can use this to accurately log hours. I think this would make hours a program’s responsibility rather than a Tech’s responsibility, so then timesheets could then be simplified for us.
          </li>
        </ul>
        <p>Thank you for taking the time to read this. If there are some questions please Teams me or call at 720-660-9747.</p>
        <button onclick="snap('.content')" id="start-btn">Snap!</button>
        <h1>Hello</h1>
      </div>

    </body>
</html>
